Web References/WebUpDown/FileUpDown.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Webupfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="coutent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebupfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebupfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebupfileSoapIn">
    <wsdl:part name="parameters" element="tns:Webupfile" />
  </wsdl:message>
  <wsdl:message name="WebupfileSoapOut">
    <wsdl:part name="parameters" element="tns:WebupfileResponse" />
  </wsdl:message>
  <wsdl:portType name="FileUpDownSoap">
    <wsdl:operation name="Webupfile">
      <wsdl:input message="tns:WebupfileSoapIn" />
      <wsdl:output message="tns:WebupfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileUpDownSoap" type="tns:FileUpDownSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Webupfile">
      <soap:operation soapAction="http://tempuri.org/Webupfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileUpDownSoap12" type="tns:FileUpDownSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Webupfile">
      <soap12:operation soapAction="http://tempuri.org/Webupfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUpDown">
    <wsdl:port name="FileUpDownSoap" binding="tns:FileUpDownSoap">
      <soap:address location="http://127.0.0.1:7777/FileUpDown.asmx" />
    </wsdl:port>
    <wsdl:port name="FileUpDownSoap12" binding="tns:FileUpDownSoap12">
      <soap12:address location="http://127.0.0.1:7777/FileUpDown.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>